*{
    margin: 0;
    border: border-box;
    font-family: Arial;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white ;
}
.navbar{
    background-color: #0F1111;
    height: 65px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* Box 1*/
.nav-logo{
    height: 55px;
    width: 110px;
}
.logo{
    height: 55px;
    width: 100%;
    background-size: cover;
    background-image: url(./images/amazon_logo.png);
}

/* Box 2*/
.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 4px;
}
.address-icon{
    display:flex;
    align-items: center;
}

/* Box 3*/
.nav-search{
    display: flex;
    height : 35px ;
    width : 620px ;
    background-color: bisque;
    border-radius: 5px;
    border: 2px solid transparent;
}
.nav-search:hover{
    border : 2px solid orange;
}

.search-select{
   background-color: #f3f3f3;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border: none;
   text-align: center;
   width: 50px;
}
.search-input{
    width : 515px ;
    border: none;
    padding-left: 5px ;

}
.search-icon{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50px;
   font-size: 25px;
   background-color: #feb868;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
}

/* Box-4*/
.signin-p1{
    color: #cccccc;
    font-size: 0.7rem;
}
.signin-p2{
    font-size: 0.85rem;
    font-weight: 700;
}

.cart-icon {
    font-size: 0.8rem;
    font-weight: 700;
 }
.cart-icon i{
   font-size: 30px;
}

/** Panel **/
.panel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    background-color: #222f3d;
    color: white;
}
.panel-ops p{
    display: inline;
    margin-left: 10px;
}
.panel-ops{
    width: 65%;
    font-size: 0.85rem;
}
.dropdown {
    background-color: #222f3d;
    width: 20px;
    border: none;
}
.panel-deal{
    font-size: 0.8rem;
}
.app-logo img{
    height :40px ;
    width: 43px;
    border: 0; 
}
.app-logo p{
    display: inline;
}
/* Hero section */
.hero-section{
    background-image: url(./images/heroImg.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90%;
    font-size: 0.85rem;
    margin-bottom: 50px;

}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/* shop-section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 350px;
    width: 250px;
    background-color: white;
    padding: 20px ;
    margin-top : 10px;
}
.box-img{
    height: 201px;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    background-size: cover;
}
.box-content{
    margin-left: 0.75rem;
    margin-right : 0.75rem;
}
.box-content p{
    color: #007185;
}
footer{
    margin-top: 20px;
}

.panel-1{
    background-color: #37475a;
    color : white ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    font-size : 0.85rem ;
}
.panel-1 a{
    color: #ffffff ;
    text-decoration: none;
}
.panel-2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 20rem;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    
}
ul p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px;
    font-weight: bold;
}
 ul a{
    display : block ;
    color: #cccccc;
    font-size : 11px ;
    margin-top: 12px ;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.panel-3{
   background-color: #222f3d;
   height: 70px;
   border-top: 0.5px solid white;
   display: flex;
   justify-content: center ;
   align-items: center;
}

.panel-logo{
    height: 59px;
    width: 100px;
    margin-top: 10px;
    margin-right: 100px;
    background-size: cover;
    background-image: url(./images/amazon_logo.png);
}

.panel-p{
    color: #cccccc;
    height: 17px;
    padding : 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-left: 7px;
}
/*panel-4*/
.panel-4{
    background-color:  #222f3d;
    color :#cccccc;
    height: 80px;
    text-align: center;
}
.panel-a{
    font-size: 0.8rem;
    padding-top: 25px;
}
.copyright{
    padding-top: 7px;
    font-size: 0.7rem;
    
}